[submodule "submodules/JUCE-AppBasics"]
	path = submodules/JUCE-AppBasics
	url = https://github.com/ChristianAhrens/JUCE-AppBasics.git
[submodule "submodules/RemoteProtocolBridgeCore"]
	path = submodules/RemoteProtocolBridgeCore
	url = https://github.com/ChristianAhrens/RemoteProtocolBridgeCore
